Perintah untuk menentukan jumlah sample di strata mahasiswa menggunakan persamaan berikut ini:
![image.png]()

In [49]:
from scipy.stats import norm
import math

def calculate_sample_size(confidence_level, population_proportion, marginal_error, population_size):
    # Menghitung Z-score berdasarkan confidence level
    alpha = 1 - confidence_level
    z_score = norm.ppf(1 - alpha / 2)

    # Menghitung numerator
    numerator = (z_score**2) * (population_proportion * (1 - population_proportion)) / (marginal_error**2)

    # Menghitung denumerator
    denumerator = 1 + (z_score**2) * (population_proportion * (1 - population_proportion)) / (marginal_error**2 * population_size)

    # Menghitung sample size yang sudah dibulatkan ke atas
    sample_size = math.ceil(numerator / denumerator)

    return sample_size

In [50]:
# Masukkan informasi untuk menghitung sample size pada strata mahasiswa
confidence_level = 0.95
population_proportion = 0.5
marginal_error = 0.05
population_size_mahasiswa = 9725

#Hitung sample size
result_mahasiswa = calculate_sample_size(confidence_level, population_proportion, marginal_error, population_size_mahasiswa)
print(f"Sample Size Strata Mahasiswa: {result_mahasiswa}")

Sample Size Strata Mahasiswa: 370

In [51]:
#Hitung sample size pada strata dosen
population_size_dosen = 458
result_dosen = calculate_sample_size(confidence_level, population_proportion, marginal_error, population_size_dosen)
print(f"Sample Size Strata Dosen: {result_dosen}")

Sample Size Strata Dosen: 209

Menghitung Jumlah sample untuk strata mahasiswa dan dosen di pada masing - masing Program studi di setiap jurusan menggunakan persamaan berikut ini:

![image.png]()

In [52]:
def calculate_sample_mahasiswa(N_h):
    N_Population = 9725  #Jumlah populasi pada strata mahasiswa
    n = 370  #jumlah sample keseluruhan pada strata mahasiswa

    result = N_h / N_Population * n
    return result

In [53]:
#Hitung sample size untuk strata mahasiswa di Setiap Prodi Pada Jurusan di Polsri
print('Jurusan Teknik Mesin')
print('-------------------------------')
D3_Teknik_Mesin = 573  #Jumlah populasi strata mahasiswa Prodi Teknik mesin D3
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Mesin))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Mesin: {result}")

D4_Teknik_Mesin_produksi = 547  #Jumlah populasi strata mahasiswa Prodi Teknik mesin D3
result = math.ceil(calculate_sample_mahasiswa(D4_Teknik_Mesin_produksi))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknik Mesin Produksi dan Perawatan: {result}")

Jurusan Teknik Mesin
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Teknik Mesin: 22
Sample Size Strata Mahasiswa Prodi D4 Teknik Mesin Produksi dan Perawatan: 21

In [54]:
print('Jurusan Teknik Sipil')
print('-------------------------------')
D4_Teknologi_Produksi_Tanaman_dan_perkebunan = 24  #Jumlah populasi strata mahasiswa Prodi D4_Teknologi_Produksi_Tanaman_dan_perkebunan
result = math.ceil(calculate_sample_mahasiswa(D4_Teknologi_Produksi_Tanaman_dan_perkebunan))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknologi Produksi Tanaman dan perkebunan: {result}")

D4_Perancangan_Jalan_Jembatan = 496  #Jumlah populasi strata mahasiswa Prodi D4_Perancangan_Jalan_Jembatan
result = math.ceil(calculate_sample_mahasiswa(D4_Perancangan_Jalan_Jembatan))
print(f"Sample Size Strata Mahasiswa Prodi D4 Perancangan Jalan Jembatan: {result}")

D3_Teknik_Sipil = 543  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Sipil
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Sipil))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Sipil: {result}")

Jurusan Teknik Sipil
-------------------------------
Sample Size Strata Mahasiswa Prodi D4 Teknologi Produksi Tanaman dan perkebunan: 1
Sample Size Strata Mahasiswa Prodi D4 Perancangan Jalan Jembatan: 19
Sample Size Strata Mahasiswa Prodi D3 Teknik Sipil: 21

In [55]:
print('Jurusan Teknik Kimia')
print('-------------------------------')
D3_Teknik_Kimia = 280  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Kimia
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Kimia))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Kimia: {result}")

D3_Teknologi_Pangan = 8  #Jumlah populasi strata mahasiswa Prodi D3_Teknologi_Pangan
result = math.ceil(calculate_sample_mahasiswa(D3_Teknologi_Pangan))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknologi Pangan: {result}")

D4_Teknologi_Kimia_Industri = 385 #Jumlah populasi strata mahasiswa Prodi D4_Teknologi_Kimia_Industri
result = math.ceil(calculate_sample_mahasiswa(D4_Teknologi_Kimia_Industri))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknologi Kimia Industri: {result}")

D4_Teknik_Energi = 429 #Jumlah populasi strata mahasiswa Prodi Teknik D4_Teknik_Energi
result = math.ceil(calculate_sample_mahasiswa(D4_Teknik_Energi))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknik Energi: {result}")

Jurusan Teknik Kimia
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Teknik Kimia: 11
Sample Size Strata Mahasiswa Prodi D3 Teknologi Pangan: 1
Sample Size Strata Mahasiswa Prodi D4 Teknologi Kimia Industri: 15
Sample Size Strata Mahasiswa Prodi D4 Teknik Energi: 17

In [56]:
print('Jurusan Teknik Elektro')
print('-------------------------------')
D3_Teknik_Listrik = 427  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Listrik
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Listrik))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Listrik: {result}")

D3_Teknik_Elektronika = 404  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Elektronika
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Elektronika))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Elektronika: {result}")

D3_Teknik_Telekomunikasi = 365 #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Telekomunikasi
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Telekomunikasi))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Telekomunikasi: {result}")

D4_Teknik_Telekomunikasi = 258 #Jumlah populasi strata mahasiswa Prodi D4_Teknik_Telekomunikasi
result = math.ceil(calculate_sample_mahasiswa(D4_Teknik_Telekomunikasi))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknik Telekomunikasi: {result}")

D4_Teknik_Elektro = 277 #Jumlah populasi strata mahasiswa Prodi D4_Teknik_Elektro
result = math.ceil(calculate_sample_mahasiswa(D4_Teknik_Elektro))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknik Elektro: {result}")

Jurusan Teknik Elektro
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Teknik Listrik: 17
Sample Size Strata Mahasiswa Prodi D3 Teknik Elektronika: 16
Sample Size Strata Mahasiswa Prodi D3 Teknik Telekomunikasi: 14
Sample Size Strata Mahasiswa Prodi D4 Teknik Telekomunikasi: 10
Sample Size Strata Mahasiswa Prodi D4 Teknik Elektro: 11

In [86]:
print('Jurusan ADM Bisnis')
print('-------------------------------')
D3_Adm_Bisnis = 676  #Jumlah populasi strata mahasiswa Prodi D3_Adm_Bisnis3
result = math.ceil(calculate_sample_mahasiswa(D3_Adm_Bisnis))
print(f"Sample Size Strata Mahasiswa Prodi D3 Adm Bisnis: {result}")

D4_Manajemen_Bisnis = 343  #Jumlah populasi strata mahasiswa Prodi D4_Manajemen_Bisnis
result = math.ceil(calculate_sample_mahasiswa(D4_Manajemen_Bisnis))
print(f"Sample Size Strata Mahasiswa Prodi D4 Manajemen Bisnis: {result}")

D4_UPW = 237  #Jumlah populasi strata mahasiswa Prodi D4_UPW
result = math.ceil(calculate_sample_mahasiswa(D4_UPW))
print(f"Sample Size Strata Mahasiswa Prodi D4 Usaha Perjalanan Wisata: {result}")

Jurusan ADM Bisnis
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Adm Bisnis: 26
Sample Size Strata Mahasiswa Prodi D4 Manajemen Bisnis: 14
Sample Size Strata Mahasiswa Prodi D4 Usaha Perjalanan Wisata: 10

In [87]:
print('Jurusan Akuntansi')
print('-------------------------------')
D3_Akuntansi = 612  #Jumlah populasi strata mahasiswa Prodi D3_Akuntansi
result = math.ceil(calculate_sample_mahasiswa(D3_Akuntansi))
print(f"Sample Size Strata Mahasiswa Prodi D3 Akuntansi: {result}")

D4_Akuntansi_Sektor_Publik = 607  #Jumlah populasi strata mahasiswa Prodi D4_Akuntansi_Sektor_Publik
result = math.ceil(calculate_sample_mahasiswa(D4_Akuntansi_Sektor_Publik))
print(f"Sample Size Strata Mahasiswa Prodi D4 Akuntansi Sektor Publik: {result}")

Jurusan Akuntansi
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Akuntansi: 24
Sample Size Strata Mahasiswa Prodi D4 Akuntansi Sektor Publik: 24

In [59]:
print('Jurusan Teknik Komputer')
print('-------------------------------')
D3_Teknik_Komputer = 514  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Komputer
result = math.ceil(calculate_sample_mahasiswa(D3_Teknik_Komputer))
print(f"Sample Size Strata Mahasiswa Prodi D3 Teknik Komputer: {result}")

D4_TIMD = 270  #Jumlah populasi strata mahasiswa Prodi D4_TIMD
result = math.ceil(calculate_sample_mahasiswa(D4_TIMD))
print(f"Sample Size Strata Mahasiswa Prodi D4 Teknologi Informatika Multimedia Digital: {result}")

Jurusan Teknik Komputer
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Teknik Komputer: 20
Sample Size Strata Mahasiswa Prodi D4 Teknologi Informatika Multimedia Digital: 11

In [60]:
print('Jurusan Manajemen Informatika')
print('-------------------------------')
D3_Manajemen_Informatika = 536  #Jumlah populasi strata mahasiswa Prodi D3_Manajemen_Informatika
result = math.ceil(calculate_sample_mahasiswa(D3_Manajemen_Informatika))
print(f"Sample Size Strata Mahasiswa Prodi D3 Manajemen Informatika: {result}")

D4_Manajemen_Informatika = 676  #Jumlah populasi strata mahasiswa Prodi D4_Manajemen_Informatika
result = math.ceil(calculate_sample_mahasiswa(D4_Manajemen_Informatika))
print(f"Sample Size Strata Mahasiswa Prodi D4 Manajemen Informatika: {result}")

Jurusan Manajemen Informatika
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Manajemen Informatika: 21
Sample Size Strata Mahasiswa Prodi D4 Manajemen Informatika: 26

In [61]:
print('Jurusan Bahasa Inggris')
print('-------------------------------')
D3_Bahasa_Inggris = 238  #Jumlah populasi strata mahasiswa Prodi D3_Bahasa_Inggris
result = math.ceil(calculate_sample_mahasiswa(D3_Bahasa_Inggris))
print(f"Sample Size Strata Mahasiswa Prodi D3 Bahasa Inggris: {result}")

Jurusan Bahasa Inggris
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Bahasa Inggris: 10

Jumlah sample di Strata Dosen untuk setiap program studi

In [65]:
def calculate_Dosen(N_h):
    N_Population = 458  #Jumlah populasi pada strata mahasiswa
    n_dosen = 209  #jumlah sample keseluruhan pada strata mahasiswa

    result = N_h / N_Population * n_dosen
    return result

In [66]:
#Hitung sample size untuk strata Dosen di Setiap Prodi Pada Jurusan di Polsri
print('Jurusan Teknik Mesin')
print('-------------------------------')
D3_Teknik_Mesin = 28  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Mesin
result = math.ceil(calculate_Dosen(D3_Teknik_Mesin))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Mesin: {result}")

D4_Teknik_Mesin_produksi = 20 #Jumlah populasi strata mahasiswa Prodi D4_Teknik_Mesin_produksi
result = math.ceil(calculate_Dosen(D4_Teknik_Mesin_produksi))
print(f"Sample Size Strata Dosen Prodi D4 Teknik Mesin Produksi dan Perawatan: {result}")

Jurusan Teknik Mesin
-------------------------------
Sample Size Strata Dosen Prodi D3 Teknik Mesin: 13
Sample Size Strata Dosen Prodi D4 Teknik Mesin Produksi dan Perawatan: 10

In [67]:
print('Jurusan Teknik Sipil')
print('-------------------------------')
D4_Teknologi_Produksi_Tanaman_dan_perkebunan = 7  #Jumlah populasi strata mahasiswa Prodi D4_Teknologi_Produksi_Tanaman_dan_perkebunan
result = math.ceil(calculate_Dosen(D4_Teknologi_Produksi_Tanaman_dan_perkebunan))
print(f"Sample Size Strata Dosen Prodi D4 Teknologi Produksi Tanaman dan perkebunan: {result}")

D4_Perancangan_Jalan_Jembatan = 13  #Jumlah populasi strata mahasiswa Prodi D4_Perancangan_Jalan_Jembatan
result = math.ceil(calculate_Dosen(D4_Perancangan_Jalan_Jembatan))
print(f"Sample Size Strata Dosen Prodi D4 Perancangan Jalan Jembatan: {result}")

D3_Teknik_Sipil = 50  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Sipil
result = math.ceil(calculate_Dosen(D3_Teknik_Sipil))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Sipil: {result}")

Jurusan Teknik Sipil
-------------------------------
Sample Size Strata Dosen Prodi D4 Teknologi Produksi Tanaman dan perkebunan: 4
Sample Size Strata Dosen Prodi D4 Perancangan Jalan Jembatan: 6
Sample Size Strata Dosen Prodi D3 Teknik Sipil: 23

In [83]:
print('Jurusan Teknik Kimia')
print('-------------------------------')
D3_Teknik_Kimia = 18  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Kimia
result = math.ceil(calculate_Dosen(D3_Teknik_Kimia))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Kimia: {result}")

D3_Teknologi_Pangan = 12  #Jumlah populasi strata mahasiswa Prodi D3_Teknologi_Pangan
result = math.ceil(calculate_Dosen(D3_Teknologi_Pangan))
print(f"Sample Size Strata Dosen Prodi D3 Teknologi Pangan: {result}")

D4_Teknologi_Kimia_Industri = 14 #Jumlah populasi strata mahasiswa Prodi D4_Teknologi_Kimia_Industri
result = math.ceil(calculate_Dosen(D4_Teknologi_Kimia_Industri))
print(f"Sample Size Strata Dosen Prodi D4 Teknologi Kimia Industri: {result}")

D4_Teknik_Energi = 16 #Jumlah populasi strata mahasiswa Prodi D4_Teknik_Energi
result = math.ceil(calculate_Dosen(D4_Teknik_Energi))
print(f"Sample Size Strata Dosen Prodi D4 Teknik Energi: {result}")

Jurusan Teknik Kimia
-------------------------------
Sample Size Strata Dosen Prodi D3 Teknik Kimia: 9
Sample Size Strata Dosen Prodi D3 Teknologi Pangan: 6
Sample Size Strata Dosen Prodi D4 Teknologi Kimia Industri: 7
Sample Size Strata Dosen Prodi D4 Teknik Energi: 8

In [78]:
print('Jurusan Teknik Elektro')
print('-------------------------------')
D3_Teknik_Listrik = 25  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Listrik
result = math.ceil(calculate_Dosen(D3_Teknik_Listrik))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Listrik: {result}")

D3_Teknik_Elektronika = 20  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Elektronika
result = math.ceil(calculate_Dosen(D3_Teknik_Elektronika))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Elektronika: {result}")

D3_Teknik_Telekomunikasi = 18 #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Telekomunikasi
result = math.ceil(calculate_Dosen(D3_Teknik_Telekomunikasi))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Telekomunikasi: {result}")

D4_Teknik_Telekomunikasi = 8 #Jumlah populasi strata mahasiswa Prodi D4_Teknik_Telekomunikasi
result = math.ceil(calculate_Dosen(D4_Teknik_Telekomunikasi))
print(f"Sample Size Strata Dosen Prodi D4 Teknik Telekomunikasi: {result}")

D4_Teknik_Elektro = 9 #Jumlah populasi strata mahasiswa Prodi D4_Teknik_Elektro
result = math.ceil(calculate_Dosen(D4_Teknik_Elektro))
print(f"Sample Size Strata Dosen Prodi D4 Teknik Elektro: {result}")

Jurusan Teknik Elektro
-------------------------------
Sample Size Strata Dosen Prodi D3 Teknik Listrik: 12
Sample Size Strata Dosen Prodi D3 Teknik Elektronika: 10
Sample Size Strata Dosen Prodi D3 Teknik Telekomunikasi: 9
Sample Size Strata Dosen Prodi D4 Teknik Telekomunikasi: 4
Sample Size Strata Dosen Prodi D4 Teknik Elektro: 5

In [88]:
print('Jurusan ADM Bisnis')
print('-------------------------------')
D3_Adm_Bisnis = 29  #Jumlah populasi strata mahasiswa Prodi D3_Adm_Bisnis
result = math.ceil(calculate_Dosen(D3_Adm_Bisnis))
print(f"Sample Size Strata Dosen Prodi D3 Adm Bisnis: {result}")

D4_Manajemen_Bisnis = 10  #Jumlah populasi strata mahasiswa Prodi D4_Manajemen_Bisnis
result = math.ceil(calculate_Dosen(D4_Manajemen_Bisnis))
print(f"Sample Size Strata Dosen Prodi D4 Manajemen Bisnis: {result}")

D4_UPW = 8  #Jumlah populasi strata mahasiswa Prodi D4_UPW
result = math.ceil(calculate_Dosen(D4_UPW))
print(f"Sample Size Strata Dosen Prodi D4 Usaha Perjalanan Wisata: {result}")

Jurusan ADM Bisnis
-------------------------------
Sample Size Strata Dosen Prodi D3 Adm Bisnis: 14
Sample Size Strata Dosen Prodi D4 Manajemen Bisnis: 5
Sample Size Strata Dosen Prodi D4 Usaha Perjalanan Wisata: 4

In [89]:
print('Jurusan Akuntansi')
print('-------------------------------')
D3_Akuntansi = 21  #Jumlah populasi strata mahasiswa Prodi D3_Akuntansi
result = math.ceil(calculate_Dosen(D3_Akuntansi))
print(f"Sample Size Strata Dosen Prodi D3 Akuntansi: {result}")

D4_Akuntansi_Sektor_Publik = 16  #Jumlah populasi strata mahasiswa Prodi D4_Akuntansi_Sektor_Publik
result = math.ceil(calculate_Dosen(D4_Akuntansi_Sektor_Publik))
print(f"Sample Size Strata Dosen Prodi D4 Akuntansi Sektor Publik: {result}")

Jurusan Akuntansi
-------------------------------
Sample Size Strata Dosen Prodi D3 Akuntansi: 10
Sample Size Strata Dosen Prodi D4 Akuntansi Sektor Publik: 8

In [82]:
print('Jurusan Teknik Komputer')
print('-------------------------------')
D3_Teknik_Komputer = 18  #Jumlah populasi strata mahasiswa Prodi D3_Teknik_Komputer
result = math.ceil(calculate_Dosen(D3_Teknik_Komputer))
print(f"Sample Size Strata Dosen Prodi D3 Teknik Komputer: {result}")

D4_TIMD = 12  #Jumlah populasi strata mahasiswa Prodi D4_TIMD
result = math.ceil(calculate_Dosen(D4_TIMD))
print(f"Sample Size Strata Dosen Prodi D4 Teknologi Informatika Multimedia Digital: {result}")

Jurusan Teknik Komputer
-------------------------------
Sample Size Strata Dosen Prodi D3 Teknik Komputer: 9
Sample Size Strata Dosen Prodi D4 Teknologi Informatika Multimedia Digital: 6

In [84]:
print('Jurusan Manajemen Informatika')
print('-------------------------------')
D3_Manajemen_Informatika = 26  #Jumlah populasi strata mahasiswa Prodi D3_Manajemen_Informatika
result = math.ceil(calculate_Dosen(D3_Manajemen_Informatika))
print(f"Sample Size Strata Dosen Prodi D3 Manajemen Informatika: {result}")

D4_Manajemen_Informatika = 22  #Jumlah populasi strata mahasiswa Prodi D4_Manajemen_Informatika
result = math.ceil(calculate_Dosen(D4_Manajemen_Informatika))
print(f"Sample Size Strata Dosen Prodi D4 Manajemen Informatika: {result}")

Jurusan Manajemen Informatika
-------------------------------
Sample Size Strata Mahasiswa Prodi D3 Manajemen Informatika: 12
Sample Size Strata Mahasiswa Prodi D4 Manajemen Informatika: 11

In [90]:
print('Jurusan Bahasa Inggris')
print('-------------------------------')
D3_Bahasa_Inggris = 38  #Jumlah populasi strata mahasiswa Prodi D3_Bahasa_Inggris
result = math.ceil(calculate_Dosen(D3_Bahasa_Inggris))
print(f"Sample Size Strata Dosen Prodi D3 Bahasa Inggris: {result}")

Jurusan Bahasa Inggris
-------------------------------
Sample Size Strata Dosen Prodi D3 Bahasa Inggris: 18

 Rata - rata (mean)
 $ \bar{x} = \frac{\sum{x_i}}{n} $

In [91]:
def hitung_rata_rata(data):
    if len(data) == 0:
        return 0  # Menghindari pembagian oleh nol jika data kosong
    else:
        total = sum(data)
        rata_rata = total / len(data)
        return rata_rata

# Contoh penggunaan fungsi
data = [10, 20, 30, 40, 50]
rata_rata = hitung_rata_rata(data)
print("Rata-rata:", rata_rata)

Rata-rata: 30.0

Interval kepercayaan untuk rata - rata
$ \bar{x} \pm Z \cdot \frac{\sigma}{\sqrt{n}} $

In [92]:
from scipy import stats

def hitung_confidence_interval(data, confidence_level):
    n = len(data)
    mean = sum(data) / n
    std_dev = stats.tstd(data)  # Standar deviasi sampel

    alpha = 1 - confidence_level
    z_score = stats.norm.ppf(1 - alpha / 2)

    margin_of_error = z_score * (std_dev / (n ** 0.5))
    lower_bound = mean - margin_of_error
    upper_bound = mean + margin_of_error

    return (lower_bound, upper_bound)

# Contoh penggunaan fungsi
data = [32, 45, 28, 51, 39, 47, 32, 43, 39, 31]
confidence_level = 0.95  # Tingkat kepercayaan 95%

interval = hitung_confidence_interval(data, confidence_level)
print(f"Interval Kepercayaan ({confidence_level * 100}%): {interval}")

Interval Kepercayaan (95.0%): (33.889762275800265, 43.51023772419974)

 Proporsi
 $ \hat{p} = \frac{x}{n} $

In [94]:
def hitung_proporsi(x, n):
    proporsi = x / n
    return proporsi

# Contoh penggunaan fungsi
x = 25  # Jumlah elemen yang memenuhi kondisi tertentu
n = 100  # Jumlah total elemen dalam sampel

hasil_proporsi = hitung_proporsi(x, n)
print(f"Proporsi: {hasil_proporsi:.2%}")

Proporsi: 25.00%

Margin of Error (MOE) untuk Proporsi:

Formula: $ MOE = Z \cdot \sqrt{\frac{\hat{p} \cdot (1-\hat{p})}{n}} $

In [96]:
def hitung_moe(z, proporsi, n):
    moe = z * math.sqrt((proporsi * (1 - proporsi)) / n)
    return moe

# Contoh penggunaan fungsi
z = 1.96  # Nilai Z-score untuk tingkat kepercayaan 95% (bisa disesuaikan)
proporsi = 0.4  # Proporsi yang ingin dihitung MOE-nya
n = 1000  # Jumlah sampel

moe_result = hitung_moe(z, proporsi, n)
print(f"Margin of Error (MOE): {moe_result:.5f}")

Margin of Error (MOE): 0.03036